@import url(https://fonts.googleapis.com/css?family=Lobster+Two);

.chapter{
	
	padding-top:6%;	
	
}

.lobster{
	
	font-family: 'Lobster Two', cursive;
	padding-bottom:1%;
	
}

.logo{
	
	font-family: 'Lobster Two', cursive;
	font-size:16px;
	
}
